@using eXtensionSharp
@using MudExample.Data
@inject NavigationManager NavMgr
@inject MenuViewModel ViewModel

<MudNavMenu>
    <MudPaper Class="d-flex flex-column flex-grow-1 gap-4" Elevation="0">
        <MudText Typo="Typo.h6" Class="px-4">SEOKWON HONG</MudText>
        <div Class="d-flex justify-center flex-grow-1 gap-4" >
            <MudImage Src="https://avatars.githubusercontent.com/u/24273022?v=4" Height="140" Elevation="25" Class="rounded-lg"></MudImage>
        </div>
    </MudPaper>
    @foreach (var item in ViewModel.Menus)
    {
    if (item.MenuDirection == MenuDirection.Root)
    {
    <MudNavLink Match="NavLinkMatch.All" Icon="@item.Icon" OnClick="(() => ViewModel.NavigateTo(item.Href))">@item.Name</MudNavLink>
    }
    else if(item.MenuDirection == MenuDirection.Normal)
    {
    <MudNavLink Match="NavLinkMatch.Prefix" Icon="@item.Icon" OnClick="(() => ViewModel.NavigateTo(item.Href))">@item.Name</MudNavLink>
    }
    else if (item.MenuDirection == MenuDirection.Sub)
    {
    <MudNavGroup Title="@item.Name" Expanded="true" Icon="@item.Icon">
        @if (item.SubMenus.xIsNotEmpty())
        {
        foreach (var subItem in item.SubMenus)
        {
        <MudNavLink Match="NavLinkMatch.Prefix" Icon=@subItem.Icon IconColor=@subItem.IconColor OnClick="(() => ViewModel.NavigateTo(subItem.Href))">@subItem.Name</MudNavLink>
        }
        }
    </MudNavGroup>
    }
    }
</MudNavMenu>
