@page "/diary/list"
@using MudExample.Data
@inherits PageComponentBase

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudBreadcrumbs Items="@Breadcrumbs"></MudBreadcrumbs>
    
    @if (ViewModel.Diaries == null)
    {
    <p>
        <em>Loading...</em>
    </p>
    }
    else
    {
        <MudPaper Class="d-flex justify-end flex-grow-1 gap-4">
            <MudTextField T="string" Label="Title" @bind-Value="title"/>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="Search">@Localizer["LBL0043"]</MudButton>
        </MudPaper>
    <br/>
    <MudTable Items="@ViewModel.Diaries" MultiSelection="true" Hover="true" @bind-SelectedItems="@ViewModel.SelectedDiaries" Breakpoint="Breakpoint.Sm" Striped="true" Bordered="true">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Title</MudTh>
            <MudTh>CreatedDate</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context._id</MudTd>
            <MudTd>@context.Title</MudTd>
            <MudTd>@context.CreatedDate.ToShortDateString()</MudTd>
            <MudTd>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" >@Localizer["LBL0022"]</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
    }
</MudContainer>
<MudOverlay @bind-Visible="ProgressVisible" DarkBackground="true" ZIndex="9999">
    <MudItem xs="12" Class="d-flex align-center">
        <MudProgressCircular Indeterminate="true" />
    </MudItem>
</MudOverlay>


@code {
    string title;
    [Inject] DiaryViewModel ViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.GetDiaries();
    }

    async Task Search()
    {
        await ViewModel.GetDiaries(title);
    }
}