@page "/music"

@using eXtensionSharp
@using KristofferStrube.Blazor.WebAudio
@using Color = MudBlazor.Color
@using Size = MudBlazor.Size
@using KristofferStrube.Blazor.MediaCaptureStreams
@using KristofferStrube.Blazor.WebIDL
@using MudExample.Data

@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime

@inherits MudExample.Components.Base.PageComponentBase

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudBreadcrumbs Items="@Breadcrumbs"></MudBreadcrumbs>

    <MudPaper Class="d-flex flex-column flex-grow-1 gap-4" Elevation="0">
        @{
            var cssDark = LayoutState.IsDark ? "visualizer-container-dark" : "visualizer-container-light";
            <div class="mud-paper @cssDark">
                @if (tracks[currentTrack].Contains("INDIGO.mp3"))
                {
                    var t1 = playTime * 1.2;
                    var t2 = playTime;
                    if (t1 >= 80) t1 = 80;
                    if (t2 >= 60) t2 = 60;
                    for (int i = 0; i < 32; i++)
                    {
                        var height = visualizerData[i];
                        var hue = (i * 360) / visualizerData.Length;
                        <div class="bar" style="height: @height%; background-color: hsl(@hue, @t1%, @t2%)"></div>
                    }
                }
                else
                {
                    for (int i = 0; i < 32; i++)
                    {
                        var height = visualizerData[i];
                        var hue = (i * 360) / visualizerData.Length;
                        <div class="bar" style="height: @height%; background-color: hsl(@hue, 80%, 60%)"></div>
                    }
                }                    
            </div>
        }

        <style>
            .visualizer-container-dark {
                display: flex;
                align-items: flex-end;  /* 아래쪽 정렬을 제거하고 기본값으로 */
                height: 300px;
                gap: 2px;
                padding: 10px;
            }
            .visualizer-container-light {
                display: flex;
                align-items: flex-end;  /* 아래쪽 정렬을 제거하고 기본값으로 */
                height: 300px;
                gap: 2px;
                padding: 10px;
            }

            .bar {
                flex: 1;
                transition: height 200ms ease;
                border-radius: 4px;
            }
        </style>
        <MudPaper Class="d-flex justify-center flex-grow-1 gap-4" Elevation="0">
            @if (isShuffle)
            {
                <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.Filled.ShuffleOn" OnClick="RandomizeTracks"/>
            }
            else
            {
                <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.Filled.Shuffle" OnClick="RandomizeTracks"/>
            }
            <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.Filled.ArrowLeft" OnClick="PreviousTrack"/>
            
            @if (playing)
            {
                <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.Filled.PauseCircle" OnClick="Pause"/>
            }
            else
            {
                <MudLoadingButton Variant="Variant.Text" @bind-Loading="loading" ButtonVariant="ButtonVariant.IconButton" OnClick="Play" Icon="@Icons.Material.Filled.PlayArrow"/>
            }

            <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.Filled.Stop" OnClick="Stop"/>
            <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.Filled.ArrowRight" OnClick="NextTrack"/>

            @if (repeatMode == 0)
            {
                <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.Filled.Repeat" OnClick="@(() => repeatMode = 1)"/>
            }
            else if (repeatMode == 1)
            {
                <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.Filled.RepeatOn" OnClick="@(() => repeatMode = 2)"/>
            }
            else
            {
                <MudIconButton Variant="Variant.Text" Icon="@Icons.Material.Filled.RepeatOne" OnClick="@(() => repeatMode = 0)"/>
            }
        </MudPaper>
        <MudPaper Class="d-flex justify-center flex-grow-1 gap-4" Elevation="0">
            <MudText Typo="Typo.inherit" Color="Color.Primary">
                @TimeSpan.FromSeconds(playTime).ToString(@"mm\:ss")
            </MudText>
            <MudProgressLinear Color="Color.Info" Size="Size.Large" Value="@playTime" Max="@trackDuration" Class="my-1">
            </MudProgressLinear>
            <MudText Typo="Typo.inherit" Color="Color.Secondary">
                @TimeSpan.FromSeconds(trackDuration).ToString(@"mm\:ss")
            </MudText>
        </MudPaper>
    </MudPaper>

</MudContainer>

@code {
    [Inject] LayoutState LayoutState { get; set; }

    private string url;
    private int repeatMode;
    private bool isShuffle;
    private bool loading;
    
    private AudioContext context = default!;
    private AudioDestinationNode destination = default!;
    private AudioBufferSourceNode currentAudioBufferNode = default!;
    private AudioBuffer currentAudioBuffer = default!;
    
    private bool playing;
    private bool currentTrackLoaded = false;
    private int currentTrack = 0;
    private double playTime;
    private double startTime;
    private double? pauseTime;
    private double offset;
    private double trackDuration;
    private int interactions;
    private List<string> tracks = new() {
        "mp3/Adam_MacDougall.mp3",
        "mp3/INDIGO.mp3"
    };
    private byte[]?[] loadedTracks = new byte[]?[4];
    
    private double[] visualizerData = new double[32];
    private AnalyserNode? analyser;
    private MediaDevices? mediaDevices;
    private string? error;
    private bool makeMeasurements = false;
    private MediaStream? mediaStream;
    private string? selectedAudioSource;
    private double peakFrequency = 0;

    private bool isDarkMode;

    async Task UpdateVisualizer()
    {
        if (analyser.xIsEmpty()) 
        {
            analyser = await context.CreateAnalyserAsync();
            await currentAudioBufferNode.ConnectAsync(analyser);
        }

        if (currentAudioBufferNode.DisposesJSReference)
        {
            await currentAudioBufferNode.ConnectAsync(analyser);
        }

        var frequencyBinCount = await analyser.GetFrequencyBinCountAsync();
        var dataArray = new byte[frequencyBinCount];
        var uint8Array = await Uint8Array.CreateAsync(JSRuntime, dataArray.Length);
        await analyser.GetByteFrequencyDataAsync(uint8Array);
        
        for (int i = 0; i < 32; i++)
        {
            visualizerData[i] = (await uint8Array.AtAsync(i)) / 255.0 * 100;
        }
    }

    async Task EnsureInitialized()
    {
        if (context is { }) return;

        context = await AudioContext.CreateAsync(JSRuntime);
        destination = await context.GetDestinationAsync();
    }
    
    async Task EnsureCurrentTrackLoaded()
    {
        if (currentTrackLoaded) return;
        
        loading = true;

        // Dispose old audio buffer
        if (currentAudioBuffer.xIsNotEmpty())
        {
            await currentAudioBuffer.DisposeAsync();
        }

        if (loadedTracks[currentTrack].xIsEmpty())
        {
            loadedTracks[currentTrack] = await HttpClient.GetByteArrayAsync(tracks[currentTrack]);
        }
        AudioBuffer nextAudioBuffer = await context.DecodeAudioDataAsync(loadedTracks[currentTrack]);

        currentAudioBuffer = nextAudioBuffer;
        trackDuration = await currentAudioBuffer.GetDurationAsync();

        currentTrackLoaded = true;

        if (tracks[currentTrack].Contains("INDIGO.mp3"))
        {
            Console.WriteLine("♬ NXCRE & The Villains - INDIGO ♬");
        }

        loading = false;
    }
    
    public async Task Play()
    {
        StateHasChanged();
        
        await EnsureInitialized();
        if (playing) return;
        interactions++;
        await EnsureCurrentTrackLoaded();

        currentAudioBufferNode = await context.CreateBufferSourceAsync();
        await currentAudioBufferNode.SetBufferAsync(currentAudioBuffer);
        await currentAudioBufferNode.ConnectAsync(destination);
        if (pauseTime is null)
        {
            await currentAudioBufferNode.StartAsync();
        }
        else
        {
            await currentAudioBufferNode.StartAsync(when: 0, offset: offset);
        }
        startTime = await context.GetCurrentTimeAsync();
        
        playing = true;
        
        var currentInteractions = interactions;
        while (currentInteractions == interactions)
        {
            playTime = await context.GetCurrentTimeAsync() - startTime + offset;
            await UpdateVisualizer();
            StateHasChanged();
            if (playTime >= trackDuration)
            {
                await Pause();
            }
            await Task.Delay(16);
        }
    }

    async Task Stop()
    {
        if (!playing) return;
        interactions++;

        await currentAudioBufferNode.DisconnectAsync();
        await currentAudioBufferNode.StopAsync();
        await currentAudioBufferNode.DisposeAsync();

        playTime = 0;
        offset = 0;

        for (var i = 0; i < 32; i++)
        {
            visualizerData[i] = 0;
        }
        playing = false;
        
        StateHasChanged();
    }
    
    async Task Pause()
    {
        if (!playing) return;
        interactions++;

        await currentAudioBufferNode.DisconnectAsync();
        await currentAudioBufferNode.StopAsync();
        await currentAudioBufferNode.DisposeAsync();

        var currentTime = await context.GetCurrentTimeAsync();
        pauseTime = await context.GetCurrentTimeAsync();
        if (offset + currentTime - startTime > trackDuration)
        {
            offset = 0;
        }
        else
        {
            offset += currentTime - startTime;
        }

        for (var i = 0; i < 32; i++)
        {
            visualizerData[i] = 0;
        }
        playing = false;
        
        StateHasChanged();
    }
    
    Task PreviousTrack() => SwitchTrack(() => currentTrack = (currentTrack - 1 + tracks.Count) % tracks.Count);
    Task NextTrack() => SwitchTrack(() => currentTrack = (currentTrack + 1) % tracks.Count);
    
    async Task SwitchTrack(Action changeTrack)
    {
        var wasPlaying = playing;
        if (wasPlaying)
        {
            await Pause();
        }
        changeTrack();
        currentTrackLoaded = false;
        
        offset = 0;
        playTime = 0;
        if (wasPlaying)
        {
            await Play();
        }
    }

    List<string> srcTracks = new(); 
    public async Task RandomizeTracks()
    {
        isShuffle = !isShuffle;

        var wasPlaying = playing;
        if (wasPlaying)
        {
            await Pause();
        }

        if (isShuffle)
        {
            tracks = tracks.OrderBy(x => Random.Shared.Next()).ToList();            
        }
        else
        {
            srcTracks = tracks.ToList();    
        }
        
        loadedTracks = new byte[]?[4];
        currentTrackLoaded = false;
        currentTrack = 0;
        offset = 0;
        playTime = 0;
        if (wasPlaying)
        {
            await Play();
        }
        
        StateHasChanged();
    }
    
    public override async ValueTask DisposeAsync()
    {
        await Pause();
    }

    string ChangeStyle()
    {
        return @" display: flex; align-items: flex-end; height: 300px; gap: 2px; padding: 10px; background-color: #373740; ";
    }
}
