@page "/weather"
@inject HttpClient Http
@using Blazored.LocalStorage
@using eXtensionSharp
@using MudExample.Data
@inherits MudExample.Components.Base.PageComponentBase

<style type="text/css">
    .mud-table-head .header-centered th {
        text-align: center;
        font-size: 1.2em;
    }

    .mud-table-foot .bold-text .mud-table-cell {
        font-weight: 500;
    }
</style>
<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudBreadcrumbs Items="@Breadcrumbs"></MudBreadcrumbs>

    <h1>Weather</h1>

    <p>This component demonstrates fetching data from the server.</p>

    @if (forecasts == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <MudPaper Class="d-flex justify-end flex-grow-1 gap-4">
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(async () => await ShowDialog(null))">@Localizer["LBL0020"]</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Warning" OnClick="@(() => OnDelete(null))">@Localizer["LBL0021"]</MudButton>
        </MudPaper>
        <br/>
        <MudTable Items="@forecasts" MultiSelection="true" Hover="true" @bind-SelectedItems="_selectedItems" Breakpoint="Breakpoint.Sm" Striped="true" Bordered="true">
            <HeaderContent>
                <MudTh>Date</MudTh>
                <MudTh>Temp. (C)</MudTh>
                <MudTh>Temp. (F)</MudTh>
                <MudTh>Summary</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Date?.ToShortDateString()</MudTd>
                <MudTd>@context.TemperatureC</MudTd>
                <MudTd>@context.TemperatureF</MudTd>
                <MudTd>@context.Summary</MudTd>
                <MudTd>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(async () => await ShowDialog(context.Id))">@Localizer["LBL0022"]</MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>
    }
</MudContainer>

<MudOverlay @bind-Visible="ProgressVisible" DarkBackground="true" ZIndex="9999">
    <MudItem xs="12" Class="d-flex align-center">
        <MudProgressCircular Indeterminate="true" />
    </MudItem>
</MudOverlay>

@code {
    private HashSet<WeatherForecast> _selectedItems = new();
    private List<WeatherForecast>? forecasts;

    
    async Task ShowDialog(int? id)
    {
        var parameters = new DialogParameters();
        var list = await LocalStorageService.GetItemAsync<List<WeatherForecast>>("weathers");
        var exists = list?.FirstOrDefault(m => m.Id == id);
        if (exists.xIsNotEmpty())
        {
            parameters.Add("WeatherForecast", exists);
        }

        var dialog = await this.DialogService.ShowAsync<WeatherDialog>(null, parameters, new DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Large,
        });
        var result = await dialog.Result;

        if (result is { Canceled: false })
        {
            await Task.Delay(1000);
            if (result.Data is WeatherForecast t)
            {
                if (t.Id <= 0)
                {
                    t.Id = list!.MaxBy(m => m.Id)!.Id + 1;
                    this.forecasts?.Add(t);
                    await this.LocalStorageService.SetItemAsync("weathers", this.forecasts);
                }
                else
                {
                    var item = this.forecasts.FirstOrDefault(m => m.Id == t.Id);
                    if (item.xIsNotEmpty())
                    {
                        this.forecasts?.Remove(item);
                    }

                    this.forecasts?.Add(t);
                    await this.LocalStorageService.SetItemAsync("weathers", this.forecasts);
                }
            }

            this.Snackbar.Add($"success", Severity.Success);
        }
        else
        {
            this.Snackbar.Add("canceled", Severity.Warning);
        }

        StateHasChanged();
    }

    protected override Task OnDelete(Func<Task<Result>> func)
    {
        if (_selectedItems.Count <= 0)
        {
            this.Snackbar.Add("selected items is empty", Severity.Warning);
            return Task.CompletedTask;
        }

        func = async () =>
        {
            foreach (var weatherForecast in _selectedItems)
            {
                this.forecasts?.Remove(weatherForecast);
                await this.LocalStorageService.SetItemAsync("weathers", this.forecasts);
            }

            await Task.Delay(1000);

            return new Result(true, "succeed");
        };
        return base.OnDelete(func);
    }

    private MudDataGrid<Dictionary<string, string>> dataGrid = null;

    protected override async Task OnInitializedAsync()
    {
        var list = await this.LocalStorageService.GetItemAsync<List<WeatherForecast>>("weathers");
        if (list.xIsEmpty())
        {
            list =
            [
                new() { Date = DateTime.Parse("2022-01-06"), TemperatureC = 1, Summary = "Freezing" },
                new() { Date = DateTime.Parse("2022-01-07"), TemperatureC = 14, Summary = "Bracing" },
                new() { Date = DateTime.Parse("2022-01-08"), TemperatureC = -13, Summary = "Freezing" },
                new() { Date = DateTime.Parse("2022-01-09"), TemperatureC = -16, Summary = "Balmy" },
                new() { Date = DateTime.Parse("2022-01-10"), TemperatureC = -2, Summary = "Chilly" }
            ];
            var row = 1;
            foreach (var item in list)
            {
                item.Id = row;
                row += 1;
            }

            await this.LocalStorageService.SetItemAsync("weathers", list);
        }

        forecasts = list;
        dataGrid?.RenderedColumns.Clear();
        await Task.Delay(10);
    }
}